@media only screen and (max-width: 1200px) {
  .content {
    display: flex;
    padding: 100px 0 !important;
  }

  .row {
    display: block;
    max-width: 50%;
    margin: 0 auto;
  }
  .img__content,
  .form__content {
    max-width: 100% !important;
  }

  .img__content {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 1040px) {
  .container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
  }
}

@media only screen and (max-width: 970px) {
  .verification__head {
    font-size: 22px;
  }
}

@media only screen and (max-width: 800px) {
  .row {
    max-width: 65%;
  }
}

@media only screen and (max-width: 600px) {
  .row {
    max-width: 80%;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    max-width: 300px;
  }

  .balance__value {
    font-size: 30px;
  }

  .operation__form {
    grid-template-columns: 2fr 1fr;
    gap: 10px;
  }

  .operation__btn--submit {
    padding: 5px;
    grid-column: 3 span;
    grid-row: 3/1 span;
  }
  .label__1 {
    grid-column: 2;
  }

  .label__2 {
    grid-row: 2;
    grid-column: 1;
  }
  .input--value {
    font-size: 13px;
  }

  select {
    font-size: 13px;
  }

  .btn__clear {
    margin-bottom: 15px;
  }
}
