.navigation {
  justify-content: space-between;
  align-items: center;
  margin: 20px 40px;
  display: none;
}

.navigation__welcome {
  font-weight: 400;
  font-size: 19px;
}

.navigation__date {
  margin-top: 5px;
  font-size: 14px;
  color: #888;
}
