.statistics__list {
  height: 400px;
  grid-row: 2;
  background-color: #fff;
  border-radius: 1px;
}

.statistics__list {
  border-radius: 5px;
  overflow: hidden;
  overflow-y: scroll;
}
.statistics__element {
  padding: 25px 40px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.date {
  align-items: center;
  gap: 10px;
}

.statistics__time {
  font-size: 11px;
  color: #666;
}

.statistics__value {
}
